{% extends "pizzas/base.html" %}

{% block page_header %}
    <h1>Pizzas</h1>
{% endblock page_header %}

{% block content %}
    {% comment %} ORIGINAL HEADER<p>Pizzas</p> {% endcomment %}

    <!-- create bullet list with <ul></ul> -->
    <ul>
        <!-- for loop for each pizza -->
        {% for pizza in pizzas %}
            <!-- load in variable names with double braces -->
            <li><h3>
                <a href="{% url 'pizzas:pizza' pizza.id %}">{{ pizza }}</a>
            </h3></li>
           {% empty %}
            <li><h3>No pizzas have been added. Check back later!</h3></li>
        {% endfor %}
    </ul>

{% endblock content %}